---
// const comments = await fetch('https://jsonplaceholder.typicode.com/comments');

// const data = await comments.json();

const sheetRes = await fetch("https://script.google.com/macros/s/AKfycbwhwvOrYZgee_21kAAmpBZCxpbNglwmKSwDUI6qH0kf4aEQSijgwsTgcPp1EOgmW6wZ6w/exec");

const {data} = await sheetRes.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<!-- {data.slice(0,5).map((i) => <div>
			<h2>{i.name}</h2>
			<p>{i.body}</p>
		</div>)} -->
		{data.map((i) => <div>
			<p><strong>{i.name}</strong></p>
			<p>{i.hours}</p>
		</div>)}
	</body>
</html>
